html, body
{    
    height: 100%;
    margin: 0;
}
img
{
    padding: 0.8cm; 
}
.pagelayout
{
    display:inline-block;
    height:100%; 
}
#part1
{
    background-color: white;
    float: left;
    width: 25%;
   /*border-right-style: solid;
    border-right-width: 10px;
    border-color: darkgray;*/
    text-align: center;
    height: 100%;
}

#myVideo {
    position: absolute;
    right: 0;
    top: 500px;
    min-width: 100%; 
    min-height: 100%;
    object-fit: cover;
}
.col
{
    margin: 0cm;
}
#part2
{
    background-color: white;
    width: 74%;  
   /* border-style:solid;
    border-color: darkgray;
   /* overflow: scroll;*/
    height: 100%;
}
#part2 h1
{
   /* font-size: 25px;*/
     font-family:impact;
}
/*#part2 strong
{
    font-family:impact;
    /* font-style: italic;*/
}*/
#mainblock
{  
    width:100%;
    position:fixed;
    overflow: scroll;
    right:20px;
    left:0px;
}
a.concluding
{
   text-decoration: none;
    display: inline-block;
}

.courses
{
    -webkit-column-count: 2;
    column-count: 2;
    column-width: 100px;
    -webkit-column-width:100px;
    text-align: left;
}
.projects
{
    text-align: justify;
    padding: 0.5cm;
}
.projectHeadings
{
    text-align: center;
}
.skills:before{
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  /*  z-index: 1;*/
    opacity: 0.1;
    background-image: url('codeHeroImage.jpg');
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}
.skills {
    position: relative;
    overflow: hidden;
}
.contactdetails
{
    display: inline;
}
#internal_layout_left
{
   display: block;
   margin: 0 auto;
}
#internal_layout_right
{
    width: 100px;
    height:70px;
}

.navbar
{
    list-style-type: none;
    margin:0;
    padding: 0;
    overflow: hidden;
    background-color: darkgray;
    /*position:fixed;*/
    /*width: 200px;
    background-color: darkgray;*/
}
.insidenavbar
{
    float:left; 
}
.navbarlinks
{
    display: inline;
    color: white;
    text-align: center;
    padding: 20px 18px 20px 18px;
    text-decoration: none;
    /* display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;*/
}   

a:hover
{
    background-color:lightgray;
    color: white;
}


.hero-image {
 /* background-image: url("codeHeroImage.jpg");*/
   /* background-image: url("hero_image2.png");*/
    background-image: linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.5)), url('codeHeroImage.jpg');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
  

.hero-text {
  text-align: center;
  position: absolute; 
  font-family:impact;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
}

.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  /*background-color: #ddd;*/
     box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  text-align: center;
  cursor: pointer;
}

.hero-text button:hover {
  background-color: #555;
  color: white;
}

.modal-backdrop
{
    z-index: -1;
}
